body {
   background-image:linear-gradient(#000000, #f4f1f4);
   font-family: sans-serif;
}

header{
   padding: 20px;
   color:#0e21a0;
   font-size: 30px;
   border-bottom: 5px solid #362fd9;
   background: #bfbfbf;
}

.cabecalho {
   display: flex;
   justify-content: space-around;

   
 #titulo {
   color: 362fd9;
   font-size: 50px;
   text-align:center;
}

.texto {
   color: #362fd9;
   font-size:30px;
   text-align:justify;
}

#imagem{
   height: 150px;
   width: 150px;
   padding: 5px;
   margin: 5px;
   border: 2px groove #362fd9;
   border-radius: 20px;

}